{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% csrf_token %}
{% block content %}
<head>
    <style>

        * {
        box-sizing: border-box;
         }
      
    .from-group{
        position: relative;
        color:white;
        display: block;
        justify-content: space-between;
        margin-left: 5em;
    }
    body{
        background-image: url("https://lh3.googleusercontent.com/9dboiQxDkYDUhX-SmMAiNGfKeugKqSzkOCuMtA6B0lqf9mBevtl5pgEjWmjCEcT6sBwc_cyw-5bGT7dGG7Qyt2LzwAOSs-sJgw9RBDgQm0ZYAQ_8mNfLELy-wUmFodS1c1sdYIc7Ow=w2400");
        background-size: cover;
    }
    </style>
</head>
<body>
<form action="" method = POST>
    {%csrf_token%}
    <p> Hello {{request.user.username}}: </p>

    <br> </br> 
    {% for t in team %}
            {%for user in t.memebers.all%}
                {% if users == user %}
                    <p>{{t}}</p>
                    {% for us in t.memebers.all%}
                        <p>{{us}}</p>
                    {% endfor %}
                    {% for assess in cassess %}
                        {% if t.course == assess.course %}
                            <a href = "/view_assessment/{{assess}}/"style="color: #707FE2;"> Take Assessment {{assess}} Here</a></p>
                        {% endif %}
                    {% endfor %}
                {% endif %}


            {%endfor%}
    {% endfor %}
    {
</form>
</body>
{% endblock %}
