


{% for t in team %}
    {%for user in t.memebers.all%}
        {% if users == user %}
            {% if assess.course == t.course %}
                {{t}}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% for s in submission %}
    {% if s.reviewee == users%}
        {% if assess.course == s.course %}
        <br> </br>
        
            {% for answer in s.answer.all %}
                    <li> {{answer.question}} </li>
                    <li> {{answer.response}} </li>            
            {% endfor %}
            
            {% for answerMC in s.answerMC.all %}
                    {% if assess.course == s.course %}
                        <li> {{answerMC.question}} </li>
                        <li> {{answerMC.mc}} </li>
                 {% endif %}
            {% endfor %}
        
            
        {% endif %}
    {% endif %}
{% endfor %}

<p> Your average on multiple choice questions was {{avg}} </p>
